<!-- <table class="table">
  <thead class="table-success">
    <tr>
      <th scope="col" class="w-25">Time Sent</th>
      <th scope="col" class="w-25">Sent By</th>
      <th scope="col" class="w-50">Message</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let message of messages">
      <td>{{message.time}}</td>
      <td>{{message.username}}</td>
      <td>{{message.message}}</td>
    </tr>
  </tbody>
</table> -->

<h1 class="page-header">Previous Messages</h1>
  <ag-grid-angular
    [class]="themeClass"
    [rowData]="rowData"
    [columnDefs]="colDefs"
    [defaultColDef]="defaultColDef"
    (gridReady)="loadMessages($event)"
  >
  </ag-grid-angular> 

