/* Core Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-quartz.css';
/* Bootstrap CSS */
@import 'bootstrap/dist/css/bootstrap.min.css';

@import "@flaticon/flaticon-uicons/css/all/all";

.btn{
    background-color: #56cc9d;
    color: #fff;
}
.btn:hover{
    background-color: #4cad86;
    color: #fff;
}
.btn-compose{
    padding: 20px 15px;
}
.btn-send{
    padding-top: 8px;
}
.ag-header-row{
    background-color: #56cc9d;
    color: #fff;
}
.ag-grid-angular {
    width: 100%;
    min-width: 500px;
    height: 500px;
}
ag-grid-angular {
    width: 100%;
    min-width: 500px;
    height: 500px;
}

// Snackbar on Success
.success-snackbar.mat-mdc-snack-bar-container {
    .mdc-snackbar__surface {
      background: #56cc9d;
      .mat-mdc-button {
        color: white !important;
      }
    }
    .mat-mdc-snack-bar-label.mdc-snackbar__label {
      color: white;
      font-weight: 400;
      white-space: pre-wrap;
      font-size: 16px;
      letter-spacing: 0.5px;
    }
}
// Snackbar on Error
.error-snackbar.mat-mdc-snack-bar-container {
    .mdc-snackbar__surface {
      background: #ca3535;
  
      .mat-mdc-button {
        color: white !important;
      }
    }
    .mat-mdc-snack-bar-label.mdc-snackbar__label {
      color: white;
      font-weight: 400;
      white-space: pre-wrap;
      font-size: 16px;
      letter-spacing: 0.5px;
    }
}


h1{
    margin-bottom: 20px;
    color: rgb(119, 119, 119);
}

body{
    padding: 50px;
}

.firstHead{
    text-align: center;
    margin-bottom: 75px;
}
.page-header{
    font-size: xx-large;

}
.messageField{
    padding: 12px 10px;
    height: 150px;
    width: 80%;
    margin: 8px 0;
    box-sizing: border-box;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
