<h1 id="telegram-messaging-app">Telegram Messaging App</h1>
<br>
<h3 id="current-personal-project">Current Personal Project</h3>
<p>Full-stack messaging application that communicates with a telegram user via a telegram bot.<br>
I&#39;m building this application to make use of the various full-stack related topics that I&#39;ve learned. <br></p>
<p><strong>I&#39;m using the MEAN stack:</strong></p>
<ul>
<li>Angular</li>
<li>Nodejs with Expressjs</li>
<li>MongoDb</li>
</ul>
<p><strong>I&#39;m making use of the following key concepts and technologies:</strong></p>
<ul>
<li>Angular routing</li>
<li>RxJs</li>
<li>JSON Web Tokens</li>
<li>User authentication and authorisation</li>
<li>Websockets</li>
</ul>
