<h1 class="page-header">Send A Message</h1>
<input (click)="modalOpen = true" type="button" class="btn btn-compose" value="Compose A New Message">

<app-modal (dismiss)="modalOpen = false" *ngIf="modalOpen">
  <div modalTitle>
    <h5 class="modal-title">New Message</h5>
  </div>
    <form>
        <div class="form-group">
            <label>Message</label>
            <textarea class="form-control messageField" [(ngModel)]="message" name="message">
            </textarea>
        </div>
        <button (click)="onMessageSubmit()" type="button" class="btn btn-send">Send&ensp;<i class="fi fi-ss-paper-plane"></i></button>
    </form> 
</app-modal>
